<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:2.0;" name="logo-github"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Author:</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://github.com/nijokarively" target="_blank">Nijo Karively</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:2.0;" name="newspaper-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Data Source:</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.worldometers.info/coronavirus/" target="_blank">www.worldometers.info</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:2.0;" name="library-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Useful Resources and Information:</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">World Health
          Organization (WHO)</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and
          Prevention (CDC)</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" target="_blank">National Health Service
          (NHS)</a></h2>
    </ion-label>
  </ion-item>
</ion-content>