<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:2.0;" name="logo-github"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Author:</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://github.com/nijokarively" target="_blank">Nijo Karively</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:2.0;" name="newspaper-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Data Source:</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.worldometers.info/coronavirus/" target="_blank">Worldometers.info</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://coronavirus.jhu.edu/map.html" target="_blank">Johns Hopkins CSSE</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://github.com/pcm-dpc/COVID-19" target="_blank">(ITA) Dipartimento della Protezione Civile</a>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.mohfw.gov.in/" target="_blank">(IND) The Ministry of Health and Family Welfare</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://covidtracking.com/" target="_blank">(USA) The COVID Tracking Project</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV.html" target="_blank">(DEU)
          Robert-Koch Institut</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.sozialministerium.at/public.html" target="_blank">(AUT) Austrian Ministry for Health</a>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/home.htm"
          target="_blank">(ESP) Ministerio de Sanidad</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" target="_blank">(GBR) National Health
          Service</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:2.0;" name="library-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Useful Resources and Information:</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">(WHO) World Health
          Organization</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">(CDC) Centers for Disease
          Control and Prevention</a></h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon style="float: left; zoom:0.5;" name=""></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" target="_blank">(NHS) National Health
          Service</a></h2>
    </ion-label>
  </ion-item>
</ion-content>