ion-content ion-toolbar {
  --background: translucent;
}

ion-card{
  margin-bottom: 0px !important;
}

.card {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 2px;
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  
