<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 by Country
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar [(ngModel)]="searchCountry" autocomplete="off"></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let country of countries | filter:searchCountry">
    <ion-card lines="none" class="ion-no-padding">
      <ion-card-header>
        <ion-card-title>
          {{country.country}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon *ngIf="detailCountries.hasOwnProperty(country.country)" (click)='getRegions(country.country)'
          style="float: right; zoom:2.0;" name="chevron-forward-circle"></ion-icon>
        <ion-avatar *ngIf="country.flag" style="float: left; margin-right:1em;" slot="start">
          <img src="../assets/flags-countries/{{country.flag}}.svg" />
        </ion-avatar>
        <ion-label (click)="getHistoricalData(country.country)">
          <p style="overflow: hidden;">
            Cases: {{country.cases | number}} | Today: {{country.todayCases | number}}<br>
            Active: {{country.active | number}}<br>
            Deaths: {{country.deaths | number}} | Today: {{country.todayDeaths | number}}<br>
            Recovered: {{country.recovered | number}} | Critical {{country.critical | number}}
          </p>
        </ion-label>
      </ion-card-content>
      <!-- <ion-label>
        <h1>{{country.country}}</h1>
        <p>
          Cases: {{country.cases | number}} | Today: {{country.todayCases | number}} | Active: {{country.active | number}}<br>
          Deaths: {{country.deaths | number}} | Today: {{country.todayDeaths | number}}<br>
          Recovered: {{country.recovered | number}} | Critical {{country.critical | number}}
        </p>
      </ion-label> -->
    </ion-card>
  </ion-list>
</ion-content>