<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Countries'" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      COVID-19 Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cases in {{countryName}}</ion-card-subtitle>
      <ion-card-title>Total Cases</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartCases></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Deaths in {{countryName}}</ion-card-subtitle>
      <ion-card-title>Total Deaths</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartDeaths></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Recoveries in {{countryName}}</ion-card-subtitle>
      <ion-card-title>Total Recoveries</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartRecovered></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Active Cases in {{countryName}}</ion-card-subtitle>
      <ion-card-title>Total Active Cases</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartActive></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Closed Cases in {{countryName}}</ion-card-subtitle>
      <ion-card-title>Total Closed Cases</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartClosed></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cases Overview in {{countryName}}</ion-card-subtitle>
      <ion-card-title>Overview</ion-card-title>
      <p>(Logarithmic Scale)</p>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartOverview></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
